<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.intercom.android.sdk"
    android:versionCode="33"
    android:versionName="1.1.16" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Attachment Permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application>
        <activity
            android:name="io.intercom.android.sdk.activities.MainActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/IntercomSDK_PanelTheme"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity
            android:name="io.intercom.android.sdk.attachments.AttachmentActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false"
            android:theme="@style/IntercomSDK_AttachmentTheme"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity
            android:name="io.intercom.android.sdk.conversation.lightbox.LightboxActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false"
            android:theme="@style/IntercomSDK_AttachmentTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="io.intercom.android.sdk.activities.TestActivity"
            android:exported="false" />
    </application>

</manifest>