<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.intercom.android.sdk"
    android:versionCode="5"
    android:versionName="0.9.5" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- GCM REQUIRED PERMISSIONS -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <service
            android:name="io.intercom.android.sdk.preview.PreviewService"
            android:enabled="true" />

        <activity
            android:name="io.intercom.android.sdk.activities.MainActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/IntercomSDK_PanelTheme"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity
            android:name="io.intercom.android.sdk.activities.TestActivity"
            android:exported="false" />

        <!-- GCM setup -->
        <receiver
            android:name="io.intercom.android.sdk.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="io.intercom.intercomsdk.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="io.intercom.android.sdk.gcm.GcmIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>